@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai/Almarai-Regular.woff') format('woff'),
    url('../fonts/Almarai/Almarai-Light.woff') format('woff'),
    url('../fonts/Almarai/Almarai-Bold.woff') format('woff'),
    url('../fonts/Almarai/Almarai-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
